<div style="text-align: center;">
<h1 style="text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
   font-weight:
    bold;color: #3d85c6;
    padding: 10px;
    ">TRANG CHỦ CÁ NHÂN</h1>
</div>
<h2><%= @user.name %></h2>
<h6><%= pluralize(@user.views, "view") %></h6>
<p> Đây là trang cá nhân của tôi <br>
    Tôi có thể đăng bài bất cứ lúc nào 
</p>