<div class="container">
<h1>CHỈNH SỬA BÀI</h1>

<%= render "form", post: @post %>

<br>

<div>
  <%= link_to "Hiện thị bài viết", @post, class:"btn btn-primary" %> |
  <%= link_to "Trở về", posts_path, class:"btn btn-primary" %>
</div>
</div>